body {
    height: 96vh;
    width: 100%;
    background-image: url('../assets/imagem.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container {
    margin-top: 25px;
    height: 90%;
    width: 100%;
    max-width: 500px;
}

.card {
    border: 2px solid #6C183A;
    background-color: rgba(108, 24, 58, 0.27);
}

.card-header {
    background-color: #082f84 !important;
}

.card-img {
    border-radius: 50%;
    background-color: #009438;
    width: 60px;
    max-width: 100%;
    margin-right: 15px;
}

.card-header > h1 {
    font-size: 1.5em;
    color: #fff;
    font-weight: bold;
}

.card-body {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.769);
}

#cardChatbox {
    width: 90%;   
}

.apresentacao {
    font-size: 1.2em;
    background-color: #7ccdf05a;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: justify;
}

.containerInput {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.inputText {
    width: 100%;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 1.2em;
    border: 1px solid rgba(6, 106, 39, 0.466);
}

.btn {
    margin-left: 10px; 
}

.textoChatbox,
.textoUsuario {
    font-size: 1.2em;
    padding: 10px;
    border-radius: 10px;
}

.textoChatbox{
    background-color: rgba(246, 238, 18, 0.899);
    width: 100%;
    max-width: 280px;
}

.imgRespostaUser {
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}

.imgRespostaBot{
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
    margin-left: -40px; 
}

.textoUsuario{
    background-color: #009438;
    color: #FFF;
    width: 100%;
    max-width: 300px;
}

#imgRes {
    width: 50px;
    height: 50px;
    margin: 0 5px; 
}

#imgRobo {
    width: 80px;
    height: 60px;
    margin: 0 5px;
}